@tailwind base;
@tailwind components;
@tailwind utilities;

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signin-box {
  @apply rounded-lg p-5 bg-white shadow-lg shadow-teal-800 flex flex-col items-start;
}
.signin-box h1 {
  @apply mb-5;
}
input {
  @apply p-2 rounded-md border border-gray-300 w-full;
}

body {
  @apply bg-gradient-to-tr from-blue-600 to-teal-700;
}

.signin-box button {
  @apply mt-4 bg-teal-600 text-white px-6 py-2 rounded-md;
}

.btn {
  @apply bg-teal-600 text-white px-6 py-2 rounded-md;
}

.content-header {
  @apply text-2xl font-bold mb-5 pt-0 pb-3 border-b-2 border-teal-600 text-teal-600;
}

.table {
  @apply w-full;
}

.table thead {
  @apply bg-teal-600 text-white;
}

.table thead th {
  @apply p-3 text-left;
}

.table tbody tr {
  @apply border-b border-gray-300;
}

.table tbody td {
  @apply p-3 text-left bg-gray-100;
}

.btn-edit {
  @apply bg-blue-600 text-white px-3 py-2 rounded-md;
}

.btn-delete {
  @apply bg-red-600 text-white px-3 py-2 rounded-md;
}
